doctype html
html(lang='en')
  head
    title Algorithms and data structures - DIY tutorial
    meta(name='author', content='Tomasz Rewak')
    meta(name='application-name', charset='TREPL')
    meta(charset='utf-8')
    script(src='javascripts/jquery/jquery-2.1.3.min.js')
  body
    a(href='/admin/tutorials') Tutorials